@mixin choice() {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
}

.task-item {
  padding: 10px 30px 10px 15px;
  border: 1px solid black;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  position: relative;

  &__name {
    font-size: 1.2rem;
    color: blue;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__date {
    color: gray;
    font-size: .9rem;
    font-style: italic;
  }

  &__actions {
    position: absolute;
    right: 0;
    top: 16px;
    height: 51%;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;

    &_delete {
     @include choice();
      background-color: green;
    }

    &_edit {
      @include choice();
      background-color: orange;
    }

    &_save {
      @include choice();
      background-color: blue;
    }

    &_disable {
      @include choice();
      background-color: red;
    }
  }
}
