<div class="task-item">
  <ng-container *ngIf="isEdit then edit else show"></ng-container>
  <span class="task-item__date">{{ task.date }}</span>
</div>


<ng-template #show>
  <span class="task-item__name">{{ task.text }}</span>
  <div class="task-item__actions" *ngIf="isEditable">
    <div class="task-item__actions_delete" (click)='deleteItem()'>Delete</div>
    <div class="task-item__actions_edit" (click)='enableEdit()'>Edit</div>
  </div>
 </ng-template>

 <ng-template #edit>
 <input type="text" [(ngModel)]="task.text">
 <div class="task-item__actions" *ngIf="isEditable">
  <div class="task-item__actions_save" (click)='saveChanges()'>Save</div>
  <div class="task-item__actions_disable" (click)='disableEdit()'>Disable</div>
</div>
 </ng-template>


