<div class="links">
  <a class=links__item routerLinkActive="links__item_active" routerLink="list">Список задач</a>
  <a class=links__item routerLinkActive="links__item_active" routerLink="edit">Редактирование</a>
</div>


<router-outlet></router-outlet>
