.links {
  display: flex;
  justify-content: space-between;
  width: 25rem;

  &__item {
    height: 4rem;
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, lightblue 0%, blue 100%);
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    box-shadow: 0 5px 5px 0 black;
    text-decoration: none;
    white-space: nowrap;
    transition: .2s;

    &:hover {
      color: white;
      box-shadow: 0 0 5px 0 black;
    }

    &:active {
      color: red;
    }

    &_active {
      background: linear-gradient(0deg, pink 0%, purple 100%);
      box-shadow: 0 0 3px 0 black;
      color: red;
    }
  }
}
