<p>edit works!</p>

<div class="edit-list">
  <app-task-item *ngFor="let item of (tasksData | async).tasks" [task]="item" isEditable="true"></app-task-item>
</div>
<div class="add">
  <div class="button">Создать</div>
</div>

