.edit-list {
  padding: 10px;
  border: 1px solid orange;
}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 10rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: green;
  margin-top: 20px;
  cursor: pointer;

  &:hover {
    width: 12rem;
    color: white;
    box-shadow: 0 0 5px 0 black;
    transition: .2s;
    background-color: gold;
    color: blue;
    font-size: 2.5rem;
    text-transform: uppercase;
  }
}

